:root{
    --fs-sm:16px;
    --fs-md:64px;
    --color-white:#FFFFFF;
    --color-yellow:#FFC20A;
    --color-green:#3B945E;
}
.fs_sm{
    font-size: var(--fs-sm);
}
.fs-md{
    font-size: var(--fs-md);
}
.color-white{
    color: var(--color-white);
}
.bg_yellow{
    background: var(--color-yellow);
}
.lh_24{
    line-height: 24px;
}
.lh_23{
    line-height: 23.17px;
}
.fw_600{
    font-weight: 600;
}
.color-green{
    color: var(--color-green);
}